{% extends 'base.html' %}

{% block content%}

<style>
    .center {
      margin: auto;
      width: 60%;
      border: 3px solid #0f0a52;
      padding: 10px;
    }
    </style>
<div class="center">
<form method="POST" action="add">
{% csrf_token %}
<label>ID:</label>
<div>{{ form.eid}}</div>
<label>Name:</label>
<div>{{ form.ename}}</div>
<label>Email:</label>
<div>{{ form.eemail}}</div>
<label>Contact:</label>
<div>{{ form.econtact}}</div> 

<div>
    <button type="submit">Add</button>
</div>
</div>

</form>
{% endblock %}