<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wajeeha Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'CvApp/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <main class="main-content">
        <section class="left-section">
            <div class="left-content">
                <div class="profile">
                    <div class="/image">
                        <img src="{% static 'CvApp/my.jpg' %}" >
                    </div>
                    <h2 class="name">Hafiza Wajeeha Yasmeen</h2>
                    <p class="career">Software Engineer </p>
                    <p class="career">Python Data Scientist  
                    </p>
                </div>
                <div class="contact-info">
                    <h3 class="main-title">Contact Info</h3>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            0900-78601
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                    hafizawajeeha@gmail.com
                        </li>
                        
                        
                        <li>
                            <i class="fa fa-map-marker"></i>
                            Punjab, Pakistan
                        </li>
                    </ul>
                </div>
                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">SQL</p>
                            <div class="progress-bar">
                                <div class="progress js-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Django
                            </p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Java</p>
                            <div class="progress-bar">
                                <div class="progress j-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">C++</p>
                            <div class="progress-bar">
                                <div class="progress js-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">html/css</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">VS</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Launcher </p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Teamwork</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                    
                    </ul>
                </div>
                <div class="references-section">
                    <h3 class="main-title">References</h3>
                    <div class="referee">
                        <h4 class="sub-title">Language</h4>
                        <p class="sub-para">English
                            -Urdu
                            </p>
                        <ul>
                            
                            
                        </ul>
                    </div>
                    
                    <div class="referee">
                        
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="right-section">
            <div class="right-main-content">
                <section class="about sect">
                    <h2 class="right-title">About Me</h2>
                    <p class="para">Junior database developer with Python Associate in Programming certification. Knowledgeable in data fetching and organization,data visualization,SQL server, Java.
Motivated junior web developer looking for a role as front end web developer at Software. Passionate about building first-class Django applications. Dynamic and Motivated professional with an ability to work independently. 
 <br>
                        <br>
                        
                    </p>
                </section>

                <section class="experince sect">
                    <h2 class="right-title">Experience</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Python:</h5>
                            <p class="para">Writing effective, scalable code</p>
                            <p class="para">Developing back-end components to improve responsiveness and overall performance</p>
                            <p class="para">Integrating user-facing elements into applications</p>
                            <p class="para">September 1, 2021 – Continued </p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                            <p class="para">Expertise in Django Framework </p>
                            <p class="para">Assesses and prioritize feature requests</p>
                            <p class="para">Test and debug programs and improve functionality of existing systems</p>                                
                            <p class="para">Coordinate with internal teams to understand user requirements and provide technical solutions</p>   
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                           
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                            <p class="para">Supervise, manage and evaluate discipline.</p>
                            <p class="para">Assisted in developing concepts with viral potential.</p>
                            <p class= "para">Maintain client confidentiality and preserve integrity of company records and documents. </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                               
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="education sect">
                    <h2 class="right-title">education</h2>
                    <div class="timeline">
                        <div class="left-tlcontent">
                            <h5 class="tl-title"> Cybex IT Group:</h5> 
                            
                                </h5>
                            
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                
                                <p class="para">
                                    <h5 class="tl-title-2">Python Data Science</h5>
                            <p class="para">Python Django developer </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">University of Central Punjab FAisalabad: </h5>
                            
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Associate Degree Program in Computer Science </h5>
                                <p class="para">
                                    <p class="para">Basics of Computer Sciences  </p>
                                    <p class="para">Html, Css, Android, DataBase, C++
                                    </p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Govt. College Women University Faisalabad:</h5>
                            
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Masters in Computer Science</h5>
                                <p class="para">Software Engineering, Visual Programming, Fyp
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </section>
    </main>
</body>
</html>